*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::selection{
    background: #862ad6;
    color: #ffffff;
}
*::-moz-selection{
    background: #862ad6;
    color: #ffffff;
}
html{
    background-color: rgb(247, 246, 244);
}
body, input, select{
    font-family: 'Ubuntu', sans-serif;
    color: #404040;
}